<h2>About Me</h2>
<p>Things I shoot/write about include food, travel, travel-in-Japan, books, walking, plants, places.
From time to time, I wear other hats: travel consultant, tour guide, translator, interpreter, transcriber.
After leaving my home country (Malaysia), I spent a few years in London and Kyoto before moving to Tokyo.
My newsletter is called the adventures of furochan.
You can find me on Instagram for food, doors, and plants.
To say hello, please click here.</p>

<h2>Writing</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
